
\.DS_Store
/Hmwk/Assignment_3/Gaddis_8ed_Ch4_Prob18_FatGramCalc/build/
/Hmwk/Assignment_3/Gaddis_8ed_Ch4_Prob18_FatGramCalc/dist/
/Hmwk/Assignment_3/Gaddis_8ed_Ch4_Prob19_SpectralAnalysis/build/
/Hmwk/Assignment_3/Gaddis_8ed_Ch4_Prob19_SpectralAnalysis/dist/